/* About Page Styles */
.about_page {
    max-width: 950px;
    margin: auto;
}
/* About Hero */
.about_page .about_hero {
    /* background-color: yellow; */
    display: grid;
    gap: 1em;
    grid-template-columns: 2fr 0.01fr 1.5fr;
    height: auto;
    padding: 20px;
    margin-top: 70px;
    margin-bottom: 70px;

}

.about_page .about_hero .about_me {
    /* background-color: yellow; */
}

.about_page .about_hero .about_me h3 {
    font-size: 4rem;
}

.about_page .about_hero .about_me p {
    margin: 5px 0;
    font-size: 1.1rem;
}

.about_page .about_hero .about_me a {
    display: inline-block;
    margin: 5px 0;
    font-size: 1.1rem;
    padding: 0.75rem 1.5rem;
    border: 2px solid var(--main_color);
    background-color: var(--main_color);
    color: var(--background_color);
    text-decoration: none;
}

.about_page .about_hero .about_me a:hover {
    border: #553C46 2px solid;
    opacity: 0.8;
    transition: color .25s linear, background-color .15s linear .1s;
}


.about_page .about_hero .img_div {
    padding: 0;
}

.about_page .about_hero .img_div .my_image {
    height: 220px;
    width: 100%;
    object-fit: cover;
    margin: 0;
}


/* Professional Section */
.about_page .about_profession {
    /* background-color: yellow; */
    max-width: 100%;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    height: auto;
    padding: 20px;
    margin: 80px 0;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

/* Achievements */
.about_page .about_profession .achievements {
    margin-top: 10px;
    /* background-color: lightgray; */
    border-radius: 15px;
    padding: 15px 0;
    /* opacity: 0.8; */
    z-index: -1;
}

.about_page .about_profession .achievements h3 {
    font-size: 27px;
}

.about_page .about_profession .achievements ul {
    padding: 15px;
    list-style-type: square;
}
.about_page .about_profession .achievements ul li {
    padding: 0.25rem 1rem;
}

 
/* Work History */
.about_page .about_profession .work_history {
    margin-top: 10px;
    /* background-color: lightgray; */
    border-radius: 15px;
    padding: 15px 0;
    /* opacity: 0.8; */
    z-index: -1;
}

.about_page .about_profession .work_history h3 {
    font-size: 27px;
}

.about_page .about_profession .work_history ul {
    padding: 15px;
    list-style-type: square;
}
.about_page .about_profession .work_history ul li {
    padding: 0.25rem 1rem;
}


/* Recent Projects List */
.recent_projects {
    padding: 20px;
    margin-bottom: 50px;
    z-index: -1;
}

.recent_projects h3 {
    font-size: 28px;
}

.recent_projects > div {
    max-width: 100%;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    padding: 50px 0;
}

.recent_projects > div ._project {
    /* border: #706565 1px solid; */
    display: grid;
    grid-template-columns: 2fr 4fr;
    color: var(--main_color);
    min-height: auto;
    text-decoration: none;
    color: rgb(124, 118, 118);
    background-color: white;
    box-shadow: -1px 3px 15px -2px rgba(117,113,113,0.56);
    -webkit-box-shadow: -1px 3px 15px -2px rgba(117,113,113,0.56);
    -moz-box-shadow: -1px 3px 15px -2px rgba(117,113,113,0.56);
}

.recent_projects > div ._project img {
    min-height: 100%;
    max-width: 100%;
    object-fit: cover;
}

.recent_projects > div ._project .project_description {
    color: #553C46;
    padding: 20px;
}

.recent_projects > div ._project .project_description .project_title {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 900;
}

.recent_projects > div ._project .project_description .date_published {
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 10px;
}

.recent_projects > div ._project .project_description .snippet {
    font-size: 17px;
}

.about_page .recent_projects .all_projects_link {
    display: block;
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    color: #553C46;
    font-weight: bold;
    /* text-decoration: none; */
}


/* Reach Out Section */
.reach_out {
    padding: 40px 20px;
    text-align: center;
    margin: 45px 0;
    border-top: 1px solid lightgray;
}

.reach_out h3 {
    font-size: 28px;
}

.reach_out p:first-of-type {
    margin: 10px 0;
    font-size: 18px;
}

.reach_out p:last-of-type {
    font-size: 18px;
}


/* Responsive About Page */
/* For mobile phones: */
@media only screen and (max-width: 768px) {
    .about_page .about_hero {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        margin: 35px 0 0 0;
        padding-bottom: 0;
    }
    
    .about_page .about_hero .img_div {
        order: 1;
    }
    
    .about_page .about_hero .about_me {
        order: 2;
    }

    .about_page .about_hero .empty_div {
        display: none;
        /* height: 20px; */
        order: 3;
        background-color: yellow;
    }

    .about_page .about_hero .img_div .my_image {
        height: auto;
        width: 100%;
    }

    .about_page .about_hero .about_me h3 {
        font-size: 2rem;
    }
    
    .about_page .about_hero .about_me p {
        margin: 15px 0;
        font-size: 1.1rem;
    }
    
    .about_page .about_hero .about_me a {
        display: inline-block;
        margin: 5px 0;
        font-size: 1.1rem;
        padding: 0.75rem 1.5rem;
    }
    

    /* Professional Section */
    .about_page .about_page .about_profession {
        background-color: yellow;
        max-width: 100%;
        margin: 0;
    }
}