/* Base or Default Styles */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto+Mono&display=swap');


/* On large devices */

:root {
    --main_color: #553C46;
    --link_font: 'Montserrat', sans-serif;
    --body_font: 'Roboto Mono', monospace;
    --instagram_color: #3f729b;
    --whatsapp_color: #43d854;
    --github_color: #00405d;
    --linkedin_color: #0077b5;
    --body_text_color: #4D5061;
    --call_to_action_hover: ;
    /* --background_color: #F4FAFF; */
    --background_color: #F6EEFA;
    --btn_color: #306B34;
    --call_to_action: #2C1320;
    --border_line: #dddddd;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--body_font);
}

.wrapper {
    max-width: 1300px;
    margin: 0 auto;
    min-height: 100lvh;
    /* padding: 0 25px; */
    color: var(--body_text_color);
    z-index: -1;
}

body {
    background-color: var(--background_color);
    padding: 0;
}

/* Social Media Stylings */

.fa-github {
    color: var(--github_color);
}

.fa-instagram {
    color: var(--instagram_color);
}

.fa-linkedin-in {
    color: var(--linkedin_color);
}

.fa-whatsapp {
    color: var(--whatsapp_color);
}

footer .fa-brands {
    font-size: 30px;
}



/* On Mobile Devices */