/* Home Page Styles */
.home_page {
    padding: 30px;
    font-family: var(--body_font);
}

.home_page .home_hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 650px;
    margin: auto;
    padding: 30px;
}


.home_hero h3 {
    font-size: 50px;
    color: var(--main_color);
    margin-top: 30px;
    font-weight: 650;
}

.home_hero p {
    margin-top: 20px;
    font-size: 20px;
}

/* About Short */
.about_short {
    border-radius: 15px;
    max-width: 950px;
    margin: 70px auto;
    min-height: 200px;
    padding: 30px 25px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 1.2rem;
}

.about_short img {
    /* border-radius: 20px; */
    border: #553c46b7 3px solid;
    object-fit: cover;
    height: 300px;
}

.about_short .about_me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    /* background-color: yellow; */
}

.about_short .about_me p {
    font-size: 19.8px;
    margin-bottom: 20px;
    text-align: left;
}

.about_short .about_me .link_btns {
    /* padding: 5px 10px; */
    padding: 10px 0;
}


.about_short .about_me .link_btns a {
    text-decoration: none;
    color: var(--background_color);
    padding: 0.75rem 1.5rem;
    background-color: #553C46;
    font-size: 19px;
    margin-right: 20px;
    /* border-radius: 5px; */
    transition: color .25s linear;
    transition: background-color .15s linear .1;
    border: #553C46 2px solid;
}

.about_short .about_me .link_btns a:hover {
    border: #553C46 2px solid;
    opacity: 0.8;
    transition: color .25s linear, background-color .15s linear .1s;
}


/* Featured Projects */
.home_page .featured_projects {
    max-width: 950px;
    margin: auto;
    min-height: 200px;
    padding: 40px 25px;
}

.home_page .featured_projects h3 {
    font-size: 25px;
    padding: 40px 0 25px 0;
    border-bottom: 1px solid lightgray;
    color: var(--main_color);
}

.featured_projects > div {
    max-width: 100%;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    padding: 50px 0;
}

.featured_projects > div ._project {
    /* border: #706565 1px solid; */
    display: grid;
    grid-template-columns: 2fr 4fr;
    color: var(--main_color);
    min-height: auto;
    text-decoration: none;
    color: rgb(124, 118, 118);
    background-color: white;
    box-shadow: -1px 3px 15px -7px rgba(117,113,113,0.56);
    -webkit-box-shadow: -1px 3px 15px -7px rgba(117,113,113,0.56);
    -moz-box-shadow: -1px 3px 15px -7px rgba(117,113,113,0.56);
}

.featured_projects > div ._project img {
    min-height: 100%;
    max-width: 100%;
    object-fit: cover;
}

.featured_projects > div ._project .project_description {
    color: #553C46;
    padding: 20px;
}

.featured_projects > div ._project .project_description .project_title {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 900;
}

.featured_projects > div ._project .project_description .date_published {
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 10px;
}

.featured_projects > div ._project .project_description .snippet {
    font-size: 17px;
}

.home_page .featured_projects .all_projects_link {
    display: block;
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    color: #553C46;
    font-weight: bold;
}

/* Latest Articles */
/* Articles */
.home_page .latest_articles  {
    max-width: 950px;
    margin: auto;
    /* background-color: yellow; */
    padding: 50px 25px;
}

.home_page .latest_articles h3 {
    font-size: 25px;
    padding: 40px 0 25px 0;
    border-bottom: 1px solid lightgray;
    color: var(--main_color);
}

.home_page .latest_articles .latest {
    max-width: 950px;
    margin: auto;
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(auto-fill, minmax(265px, 1fr));
    padding: 50px 0;
}

.home_page .latest_articles .latest a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: rgb(124, 118, 118);
    background-color: #ffffff;
    /* border-radius: 15px; */
    box-shadow: -1px 3px 15px -7px rgba(117,113,113,0.56);
    -webkit-box-shadow: -1px 3px 15px -7px rgba(117,113,113,0.56);
    -moz-box-shadow: -1px 3px 15px -7px rgba(117,113,113,0.56);
}

/* Card image */
.home_page .latest_articles .latest ._blog img {
    width: 100%;
    height: 200px;
    /* border-radius: 15px 15px 0 0; */
    object-fit: cover;
    margin-bottom: 0;
}

/* Latest Individual Blog Description */
.home_page .latest_articles .latest ._blog .blog_description {
    padding: 25px;
    background-color: white;
    border-radius: 15px;
}

.home_page .latest_articles .latest ._blog .blog_description .blog_title {
    font-size: 20px;
    margin-bottom: 16px;
    color: black;
}

.home_page .latest_articles .latest ._blog .blog_description .date_published {
    font-size: 18px;
    color: rgb(56, 57, 58);
    margin-bottom: 15px;
}

.home_page .latest_articles .latest ._blog .blog_description p {
    font-size: 18px;
    color: rgb(56, 57, 58);
    line-height: 2.6vh;
}


.home_page .latest_articles .all_articles_link {
    display: block;
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    color: #553C46;
    font-weight: bold;
    /* text-decoration: none; */
}


/* Responsive Home Page */
/* For mobile phones: */
@media only screen and (max-width: 768px) {
    .home_page .home_hero {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        padding: 0;
    }

    .home_page .home_hero h3 {
        max-width: 100%;
        font-size: 3rem;
        padding: 20px 0;
    }
    
    .home_page .home_hero p {
        max-width: 90%;
    }
    
    .home_page .about_short {
        display: flex;
        flex-direction: column;
        margin: 70px auto;
        min-height: auto;
        padding: 0;
    }
    
    .home_page .about_short img {
        order: 1;
        border-radius: 0;
    }
    
    .home_page .about_short .about_me {
        order: 2;
        padding: 10px 0;
    }
    
    .home_page .about_short .about_me p {
        font-size: 20px;
        text-align: center;
        max-width: 90%;
        padding: 0 10px;
        margin: auto;
    }
    
    .home_page .about_short .about_me .link_btns {
        margin: 30px auto 10px auto;
        padding: 20px 0;
    }
    
    .home_page .about_short .about_me .link_btns {
        padding: 0.5rem 1rem;
    }

    /* Featured Project */
    .home_page .featured_projects {
        padding-top: 0;
        padding-bottom: 0;
        min-height: auto;
    }

    .home_page .featured_projects h3 {
        font-size: 25px;
        padding: 40px 0 25px 0;
        border-bottom: 1px solid lightgray;
        color: var(--main_color);
        margin-bottom: 40px;
    }
    
    .home_page .featured_projects > div {
        max-width: 100%;
        padding: 0;
    }
    
    .home_page .featured_projects > div ._project {
        grid-template-columns: 1fr;
    }
    
    .home_page .featured_projects > div ._project img {
        width: 100%;
        /* border-radius: 0; */
    }


}