/* Projects Page Styles */
.project_section {
    font-family: var(--link_font);
    max-width: 1300px;
    margin-top: 30px;
}

.project_section .project_hero {
    margin: 0 auto;
    min-height: 30vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.project_hero .project_title {
    font-size: 50px;
}

.project_hero .project_page_description {
    font-size: 22px;
    max-width: 650px;
    line-height: 1.8rem;
    margin: 25px 0;
}


/* Projects */

.project_section .featured_projects {
    max-width: 950px;
    margin: auto;
    min-height: 200px;
    padding: 0 25px;
    /* border: #553C46 1px solid; */
}

.project_section .featured_projects h3 {
    font-size: 25px;
    padding: 30px 0;
    border-top: 1px solid lightgray;
    color: var(--main_color);
}

.featured_projects > div {
    max-width: 100%;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    padding: 50px 0;
}

.featured_projects > div ._project {
    /* border: #706565 1px solid; */
    display: grid;
    grid-template-columns: 2fr 4fr;
    color: var(--main_color);
    min-height: auto;
    text-decoration: none;
    color: rgb(124, 118, 118);
    background-color: white;
    box-shadow: -1px 3px 15px -7px rgba(117,113,113,0.56);
    -webkit-box-shadow: -1px 3px 15px -7px rgba(117,113,113,0.56);
    -moz-box-shadow: -1px 3px 15px -7px rgba(117,113,113,0.56);
}

.featured_projects > div ._project img {
    min-height: 100%;
    max-width: 100%;
    object-fit: cover;
}

.featured_projects > div ._project .project_description {
    color: #553C46;
    padding: 20px;
}

.featured_projects > div ._project .project_description .project_title {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 900;
}

.featured_projects > div ._project .project_description .date_published {
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 10px;
}

.featured_projects > div ._project .project_description .snippet {
    font-size: 17px;
}