{% extends 'base_layout.html' %}
{% load static %}
<!-- About Page -->
{% block content %}
    <div class="about_page">
        <!-- About Hero -->
        <div class="about_hero">
            <div class="about_me">
                <h3>About Justin</h3>
                <p>I am a Python Developer and Data Engineer adipisicing elit. Deserunt alias quo adipisci aspernatur impedit, enim modi dolorem dolor.</p>
                <a href="../static/professional/Resume.pdf" target="_blank">Résumé</a>
            </div>
            <div class="empty_div"></div>
            <div class="img_div">
                <img src="https://avatars.githubusercontent.com/u/156034662?v=4" alt="my_image" class="my_image">
            </div>
        </div>
        <!-- Professional Section -->
        <div class="about_profession">
            <div class="achievements">
                <h3>Degrees / Certification</h3>
                <ul>
                    <li>BSc, Computer Information Systems - May, 2021</li>
                    <li>Azure Data Engineer Certification - February, 2024</li>
                </ul> 
            </div>
            <div class="work_history">
                <h3>Work History</h3>
                <ul>
                    <li>Assurant - Service Technician, Sept. 2021 – Dec. 2022</li>
                    <li>Rhode Island College - User Support Services, May, 2018 – Dec. 2020</li>
                </ul> 
            </div>
        </div>
        <!-- Recent Projects List -->
        <div class="recent_projects">
            <h3>Recent Projects</h3>
            <div>
                {% for project in feat_projects %}
                <a href="{% url 'project_detail_page' slug=project.slug %}" class="_project">
                    <img src="{{ project.image.url }}" alt="{{ project.name }}">
                    <div class="project_description">
                        <h4 class="project_title">{{project.name}}</h4>
                        <h6 class="date_published">{{project.date_created.date}}</h6>
                        <p class="snippet">{{project.snippet | safe}}</p>
                    </div>
                </a>
                {% endfor %}
            </div>
            <a href="{% url 'website_projects_page' %}" class="all_projects_link">All Projects</a>
        </div>
        <!-- Reach Out Section -->
        <div class="reach_out">
            <h3>Reach Out</h3>
            <p>Do you have a topic you'd like me to blog or write an article about?</p>
            <p>Email me at <a href="mailto:codewithjustin@yahoo.com" target="_blank">codewithjustin@yahoo.com</a> or <a href="mailto:kolliejustin418@gmail.com" target="_blank">kolliejustin418@gmail.com</a>.</p>
        </div>
    </div>
{% endblock %}