{% load static %}

<nav>
    <a href="{% url 'website_home' %}" class="logo">
        <img src="{% static 'assets/logo.png' %}" alt="">
    </a>
    <div class="social_links">
        <a href="https://github.com/sandocodes" target="_blank" class="social grubhub">
            <i class="fa-brands fa-github"></i>
        </a>
        <a href="#" class="social linkedin"><i class="fa-brands fa-linkedin-in"></i></a>
        <a href="#" class="social instagram"><i class="fa-brands fa-instagram"></i></a>
        <a href="#" class="social whatsapp"><i class="fa-brands fa-whatsapp"></i></a>
    </div>
    <div class="hamburger_menu" id="hamburger_menu">
        <div class="lines">
            <span class="line1"></span>
            <span class="line2"></span>
            <span class="line3"></span>
        </div>
    </div>
</nav>
<div class="drop_down" id="drop_down_nav">
    <div class="drop_down_nav_links">
        <a href="{% url 'website_home' %}" class="link home">Home</a>
        <a href="{% url 'website_about_page' %}" class="link about">About</a>
        <a href="{% url 'website_projects_page' %}" class="link projects">Projects</a>
        <a href="{% url 'website_blog_section_page' %}" class="link blog">Blog</a>
        <a href="{% url 'website_contact_page' %}" class="link contact">Contact</a>
    </div>
</div>
