.blog_detail {
    font-family: var(--body_font);
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 30;
    /* background-color: yellow; */
}

.blog_detail .blog_image {
    width: 100%;
    height: 500px;
    background-size: cover;
    object-fit: cover;
    margin: 0;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: lightgray 1px solid;
}

.blog_detail .blog_detail_head {
    min-height: auto;
    padding: 30px 5px;
    max-width: 950px;
    margin: auto;
    border-bottom: 1px solid lightgray;
    margin-bottom: 35px;
}

.blog_detail .blog_detail_head .blog_title {
    /* background-color: yellow; */
    font-size: 2.7rem;
    max-width: 600px;
    font-weight: 800;
    letter-spacing: 1.2px;
}

.blog_detail .blog_detail_head .date_created {
    margin-top: 20px;
    font-weight: 600;
}

.blog_detail .blog_detail_body {
    margin-top: 5px;
    max-width: 1000px;
    margin: auto;
    padding: 20px 30px;
    font-size: 18px;
    /* background-color: yellow; */
}

.blog_detail .article_body {
    max-width: 100%;
}

.blog_detail .article_body img {
    margin: 30px 0;
    width: 100%;
    height: auto;
    object-fit: cover;
}


/* Responsive Blog Detail Page */
/* For mobile phones: */
@media only screen and (max-width: 768px) {
        
    .blog_detail .blog_detail_head {
        min-height: auto;
        padding: 30px 20px;
        /* background-color: yellow; */
    }

    .blog_detail .blog_detail_head .blog_title {
        font-size: 1.8rem;
        min-width: 150px;
        /* background-color: yellow; */
    }

    .blog_section .articles_ {
        max-width: 950px;
        padding: 40px;
    }

    /* .blog_section .articles_ .latest {
        padding: 0 20px;
    } */
}