/* Blog Page Styles */
/* .blog_section {

} */
.blog_section {
    font-family: var(--link_font);
    max-width: 1300px;
    z-index: -1;
    margin-top: 30px;
}

.blog_section .blog_hero {
    margin: 0 auto;
    min-height: 30vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.blog_hero .blog_title {
    font-size: 50px;
}

.blog_hero .blog_page_description {
    font-size: 22px;
    max-width: 650px;
    line-height: 1.8rem;
    margin: 25px 0;
}

/* Articles */
.blog_section .articles_  {
    max-width: 950px;
    margin: auto;
}

.blog_section .articles_ .latest_heading {
    font-size: 25px;
    padding: 30px 0;
    border-top: 1px solid lightgray;
    color: var(--main_color);
}

.blog_section .articles_ .latest {
    max-width: 950px;
    margin: auto;
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    padding: 30px 0;
}

.blog_section .articles_ .latest a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: rgb(124, 118, 118);
    background-color: white;
    /* border-radius: 15px; */
    box-shadow: -1px 3px 15px -7px rgba(117,113,113,0.56);
    -webkit-box-shadow: -1px 3px 15px -7px rgba(117,113,113,0.56);
    -moz-box-shadow: -1px 3px 15px -7px rgba(117,113,113,0.56);
}

/* Card image */
.blog_section .articles_ .latest ._blog img {
    width: 100%;
    height: 200px;
    /* border-radius: 15px 15px 0 0; */
    object-fit: cover;
}

/* Latest Individual Blog Description */
.blog_section .articles_ .latest ._blog .blog_description {
    padding: 25px;
    margin-bottom: 0;
    background-color: white;
    /* border-radius: 0 0 15px 15px; */
}

.blog_section .articles_ .latest ._blog .blog_description .blog_title {
    font-size: 21px;
    margin-bottom: 16px;
    color: black;
}

.blog_section .articles_ .latest ._blog .blog_description .date_published {
    font-size: 17px;
    color: rgb(56, 57, 58);
    margin-bottom: 15px;
}

.blog_section .articles_ .latest ._blog .blog_description p {
    font-size: 18px;
    color: rgb(56, 57, 58);
    line-height: 2.6vh;
}

/* /* Blog Posts Styling  */
/* Latest Posts */



/* Responsive Blog Page */
/* For mobile phones: */
@media only screen and (max-width: 768px) {
    /* .blog_section {
        padding: 0 20px;
    } */

    .blog_section .articles_ {
        max-width: 950px;
        padding: 40px;
    }

    /* .blog_section .articles_ .latest {
        padding: 0 20px;
    } */
}
