footer {
    max-width: 1300px;
    margin: auto;
    padding: 35px 5px;
    min-height: 60px;
    border-top: 1px solid var(--border_line);
    text-align: center;
    /* background-color: yellow; */
}

/* Logo in Footer Section */
footer .logo {
    font-size: 30px;
    text-decoration: none;
    color: var(--body_text_color);
    margin: 20px 0;
    font-weight: bolder;
    font-family: var(--link_font);
}

footer .logo img {
    height: 55px;
}

/* Page Links in the footer section */
.footer_nav_links {
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.footer_nav_links > a {
    margin: 0 7px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    color: var(--main_color);
    font-family: var(--body_font);
}

/* Footer Social Links */
.footer_social_links {
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.footer_social_links > a {
    margin: 0 7px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.footer_social_links .fa-brands {
    font-size: 30px;
}


/* Footer All Rights Reserved */
.footer_arr {
    /* background-color: yellow; */
    max-width: 400px;
    margin: auto;
}

.footer_arr > p {
    font-family: var(--body_font);
}

